#language-button{
    left: 120px; top: -380px;
}
#oop-button {
    left: 350px; top: -320px;
}

#copyright-button {
    left: 100px; top: -200px;
}
.tree-img {
    width: 552px;
    position: relative;
    filter: hue-rotate(12deg) brightness(7);
}

@media (min-width: 900px) and (min-height: 900px) {
    #language-button{
        left: 196px; top: -520px;
    }
    #oop-button {
        left: 571px; top: -522px;
    }
    
    #copyright-button {
        left: 163px; top: -306px;
    }
    .tree-img {
        width: 900px;
        position: relative;
    }

}